<mat-toolbar>
    <mat-toolbar-row>
        <span>EducApp</span>
        <span class="spacer"></span>
        <button class="button" mat-button routerLink="/kategori">Mulai</button>
        <button class="button" mat-button routerLink="/about">About Us</button>
    </mat-toolbar-row>
</mat-toolbar>

<img src="/assets/logo_250.png">

<div>
    <h1 class="h1">
        EDUCATIONAL LEARNING APP FOR KIDS
    </h1>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <p class="designation">Hai sobat Edu!</p>
    <p class="designation">EducApp adalah aplikasi belajar bagi anak usia dini
        berbasis website loh
    </p>
</div>

<div class="footer">
    <p>
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved<i
            class="icon-heart" aria-hidden="true"></i> by <a href="#"
            target="_blank">EducApp.com</a>
    </p>
</div>