<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    EducApp
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav='matSidenav'>

        <img class="avatar" src="/assets/logo_150.png">

        <h4 class="name">EducApp</h4>
        <p class="designation">Education Learning Apps</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Beranda</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>abc</mat-icon>
            <span>Alphabet</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>123</mat-icon>
            <span>Angka</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>pets</mat-icon>
            <span>Hewan</span>
        </button>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Test ya, Kids!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>