<mat-toolbar>
    <mat-toolbar-row>
        <span>EducApp</span>
        <span class="spacer"></span>
        <button class="buttons" mat-button routerLink="/mulai">Home</button>
        <button class="buttons" mat-button routerLink="/about">About Us</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <h1 class="masthead-heading text-uppercase mb-0"> Pilih usia anak</h1>
    <div class="divider-custom-line"></div>
</div>
<img src="/assets/Start.png">
<div>
    <button class="button button3" routerLink="/beranda1">Di bawah 3 tahun</button>
    <button class="button button3" routerLink="/beranda2">Di atas 3 tahun</button>
</div>
