<div class="center">
    <mat-card style="background-color: #99DDCC;">
        <img src="./assets/Start.png" alt="" width="350px" height="239px" style="align-content: center;">
        <mat-card-content class="center">
            <div class class="uk-flex uk-flex-right">
                <div class="uk-width-expand uk-flex-right">
                    <button mat-raised-button style="color: gray;" routerLink="/beranda1">Under 3th</button>
                    <button mat-raised-button color="primary" routerLink="/beranda2">Above 3th</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>