<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    EducApp
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav='matSidenav'>

        <img class="avatar" src="./assets/logo_150.png">

        <h4 class="name">EducApp</h4>
        <p class="designation">Kategori Usia Di Bawah 3 Tahun</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/beranda1">
            <mat-icon>home</mat-icon>
            <span>Beranda</span>
        </button>
        <button mat-button class="menu-button" routerLink="/alphabet">
            <mat-icon>abc</mat-icon>
            <span>Alphabet</span>
        </button>
        <button mat-button class="menu-button" routerLink="/angka">
            <mat-icon>123</mat-icon>
            <span>Angka</span>
        </button>
        <button mat-button class="menu-button" routerLink="/hewan">
            <mat-icon>pets</mat-icon>
            <span>Hewan</span>
        </button>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <img src="./assets/0.png" width="250" height="250">
            <div>
                <p>Cara Membaca:</p>
                <audio controls>
                    <source src="./assets/A.mp4" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>