<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
    <mat-toolbar-row>
        <span>EducApp</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Tim kami membuat aplikasi edukasi bagi anak usia dini dengan bimbingan orangtua dan guru.</p>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
    </div>
</div>

<h2 class="h2">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/dhevia.jpg" alt="Dhevia" style="width:80%">
            <div class="container">
                <h2>Dhevia Leuys Thiaqufyan</h2>
                <p class="title">Programmer</p>
                <a href="https://www.instagram.com/dhevialeuys">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:dhevia1900016102@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="https://github.com/dhevia16102">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/ikhlas.jpg" alt="Ikhlas" style="width:80%">
            <div class="container">
                <h2>Muhamad Ikhlas Ramadhan</h2>
                <p class="title">System Analyst - Programmer</p>
                <a href="https://www.instagram.com/ikhlasramadhan16">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:muhamad1900016095@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="https://github.com/ikhlasrama16">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/tata.jpg" alt="Andita" style="width:80%">
            <div class="container">
                <h2>Andita Dewi Rinaldi</h2>
                <p class="title">Project Manager</p>
                <a href="https://www.instagram.com/aanditadr_">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:andita1900016097@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="https://github.com/1900016097AnditaDewiRinaldi">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/riri.jpg" alt="Lariri" style="width:80%">
            <div class="container">
                <h2>Lariri Delvi Windasa</h2>
                <p class="title">Computer Graphics Artist (UI/UX)</p>
                <a href="https://www.instagram.com/summeryxxrain">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:lariri1900016090@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="https://github.com/lariridelvi">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/agus.jpg" alt="Agus" style="width:80%">
            <div class="container">
                <h2>Agus Nugraha</h2>
                <p class="title">-</p>
                <a href="#">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:agus1900016173@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="#">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="foto" src="./assets/galing.jpg" alt="Galing" style="width:80%">
            <div class="container">
                <h2>Galing Susilo</h2>
                <p class="title">-</p>
                <a href="https://www.instagram.com/galing.susilo">
                    <button class="btn"><i class="fa fa-instagram"></i></button>
                </a>
                <a href="mailto:galing1900016190@webmail.uad.ac.id">
                    <button class="btn"><i class="fa fa-envelope-o"></i></button>
                </a>
                <a href="#">
                    <button class="btn"><i class="fa fa-github"></i></button>
                </a>
            </div>
        </div>
    </div>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
    </div>
</div>
<h2 class="h2">Our Togetherness</h2>
<video width="15%" controls style="margin-top: 20px; margin-bottom: 20px; margin-right: 20px;">
    <source src="./assets/video1.mp4" type="video/mp4">
</video>
<video width="15%" controls style="margin-top: 50px; margin-bottom: 20px;">
    <source src="./assets/video2.mp4" type="video/mp4">
</video>

<div class="footer">
    <p>
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved<i
            class="icon-heart" aria-hidden="true"></i> by <a href="#"
            target="_blank">EducApp.com</a>
    </p>
</div>